<h1>Entry Details</h1>

<main class="content-wrapper" role="main">
  <p>{{entry.singer}} signed up to sing {{entry.songTitle}}.</p>

  <p>
    Entry submitted on {{entry.createdAt}}.

    {{#if dateCond}}
      Entry updated on {{entry.updatedAt}}.
    {{/if}}
  </p>

</main>
